*{ box-sizing: border-box;}
html{
    font-size: 16px;
    font-family: monospace
}
body{
    display: grid;
    place-items: center;
}
#root{
    display: grid; 
    width: 95%;
    padding: 0.5rem;
}
.grid{
    display: grid;
}
.button_hold{
    gap: 0.25rem
}
.button_hold > button, .add_button{
    outline: none;
    border: 0;
    border-radius: 1.25rem;
    background-color: teal;
    color: white;
    padding: 0.5rem;
    font-weight: bold;
}
input[type="text"], input[type="password"], textarea{
    display: block;
    border-radius: 1.25rem;
    font-size: 1.25rem;
    margin: 0.5rem 0;
    outline: none;
    border: 0.125rem solid black;
    text-indent: 0.5rem;
}
label{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.modal_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    place-content: center;
    background-color: rgba(255, 255, 255, 0.5);
}
#services{
    text-transform: capitalize;
}
.lead{
    font-size: 7.5rem;
    font-weight: bold;
    margin: 2.5rem 0;
}
.follow{
    font-size: 2.5rem;
    margin: 1rem 0;
}
.lead, .follow{
    text-align: center;
}
.logo{
    text-align: center;
}
.header{
    grid-template-columns: 20% 60% 20%;
    align-items: center;
}
.topNav{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}
ul.features{
    margin: 0;
    list-style-type: square;
}
.price_board{
    grid-template-columns: auto auto auto;
    justify-items: center;
}
.price_tier{
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}
.side{
    grid-template-columns: auto auto;
}
a:visited{
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    font-style: italic;
}
input{
    display: block;
}
footer{
    grid-template-columns: 30% 30% 30%;
    gap: 1rem;
    justify-items: center;
    width: 100%;
}
.header a{
    padding: 0.5rem
}
.header a:hover{
    font-style: italic;
    text-decoration: underline;
}
.hidden{
    opacity: 0.7;
}
label{
    display: block;
}
.hidden::marker{
    color: red;
    content: 'x'
}
.pass_container{
    grid-template-columns: auto auto auto auto;
}
li::marker{
    color: green;
    content: '*';
}

.close_button{
    font-size: 2.5rem;
    position: absolute;
    top: 0;
    right: 0.5rem;
}
.close_button:hover{
    font-weight: bold;
}

.signOut_button{
    outline: none;
    border: none;
    background-color: teal;
    font-family: monospace;
    padding: 0.25rem
}
.cta{
    display:grid ;
    justify-self: center;
    background-color: blueviolet;
    font-weight: bold;
    border-radius: 1.5rem;
    color: white;
    padding: 1rem 0.5rem;
    width: 25%;
    text-align: center;
    margin: 1rem 0;
}

.cta:hover{
    opacity: 0.8;
    transform: skewX(-15deg);
}

.links a{
    display: block
}
.dash_head{
    grid-template-columns: 80% auto;
}
.user_icon{
    justify-self: end;
    align-self: center;
}
.body{
    grid-template-columns: 12.5% 87.5%;
    gap: 0.5rem;
    transition: 1s all ease-out
}

.nav_icon a{
    font-weight: bold;
}

.side_nav{
    gap: 1rem;
    background-color: teal;
    border-radius: 1rem;
    padding: 0.5rem;
    max-height: 20rem;
}
.side_nav a{
    padding: 0.25rem;
}
.thingies{
    grid-template-columns: auto auto auto;
}
.passText{
    font-weight: bold;
}

#password_container a{
    display: block;
    font-size: 0.75rem;
}

.like_material button{
    outline: none;
    border-radius: 1.5rem;
    border: none;
    background-color: white;
    padding: 0.5rem;
}
.seed_value:hover{
    background-color: rgba(175, 175, 175,  0.6);
}
.seed_value{
    border-radius: 1.25rem;
    padding: 0.25rem 0.5rem
}
.like_material{
    column-gap: 1rem;
}

.pass_head{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pass_string{
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pass_data{
    padding: 0.5rem;
}
@media screen and (max-width: 768px){
    .grid{
        grid-template-columns: auto;
    }
    html{
        font-size: 12px;    
    }
    .pass_container{
        grid-template-columns: auto auto auto;
    }
}